@import "tailwindcss";

@layer base {
  :host,
  html {
    text-size-adjust: 100%;
  }
}

/* Line clamp utility */
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
